html {
    height: 100%;
}
.hero.is-fullheight{
    background-image: url("https://images.pexels.com/photos/2187605/pexels-photo-2187605.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
    background-repeat: no-repeat;
    background-size: cover;
}

body{
    color: white;
}

.title{
    color: white;
    text-align: center;
}

.subtitle{
    color: white;
}

.icon{
    padding: 30px;
    text-align: center;
}

a{
    color: white;
    text-align: center;
}

#img {
    float: left;
    width: 440px;
    height: 300px;
    margin-right: 20px;
    margin-bottom: 20px;
}

#projects {
    background-color: rgba(255, 255, 255, 0);
    padding: 20px;
    margin-top: 25px;
    margin-bottom: 45px;
}

.tile.is-child{
    background-color: rgba(255, 255, 255, 0);
}

